// Estilo scrollbar
@mixin scrollBar() {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: var(--r-low);
    -webkit-border-radius: var(--r-low);
    -moz-border-radius: var(--r-low);
    -ms-border-radius: var(--r-low);
    -o-border-radius: var(--r-low);
  }

  &::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.1);
    border-radius: var(--r-low);
    -webkit-border-radius: var(--r-low);
    -moz-border-radius: var(--r-low);
    -ms-border-radius: var(--r-low);
    -o-border-radius: var(--r-low);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.2);
    border-radius: var(--r-low);
    -webkit-border-radius: var(--r-low);
    -moz-border-radius: var(--r-low);
    -ms-border-radius: var(--r-low);
    -o-border-radius: var(--r-low);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.3);
  }
}
// Estilo para fondo blur
@mixin box {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  max-width: 100%;
  background-color: var(--c-back_2);
  border-radius: var(--r-mid);
  -webkit-border-radius: var(--r-mid);
  -moz-border-radius: var(--r-mid);
  -ms-border-radius: var(--r-mid);
  -o-border-radius: var(--r-mid);
  padding: 10px;
}
@mixin back_blur {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(6px);
}
@mixin colors_transition($timeBack, $timeColor) {
  transition: background-color $timeBack, color $timeColor, font-size $timeColor;
  -webkit-transition: background-color $timeBack, color $timeColor, font-size $timeColor;
  -moz-transition: background-color $timeBack, color $timeColor, font-size $timeColor;
  -ms-transition: background-color $timeBack, color $timeColor, font-size $timeColor;
  -o-transition: background-color $timeBack, color $timeColor, font-size $timeColor;
}
@mixin btn_primary {
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 4px 0 4px 10px;
  &:hover {
    color: var(--c-back_2);
    background-color: var(--c-link);
  }
}
@mixin fl_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin border-radius($border) {
  border-radius: $border;
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -ms-border-radius: $border;
  -o-border-radius: $border;
}
