
/* The switch - the box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 30px;
   height: 17px;
   margin: 0 5px;
    /* Hide default HTML checkbox */
   &__input {
   opacity: 0;
   width: 0;
   height: 0;
 }
  /* The slider */
  &__slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--c-link);
   -webkit-transition: .4s;
   transition: .4s;
 }
 &__slider:before {
   position: absolute;
   content: "";
   height: 13px;
   width: 13px;
   left: 2px;
   bottom: 2px;
   background-color: var(--c-back_2);
   -webkit-transition: .4s;
   transition: .4s;
 }
 &__input:checked + &__slider {
   background-color: var(--c-link);
 }
 
 &__input:focus + &__slider {
   box-shadow: 0 0 1px var(--c-link);
 }
 
 &__input:checked + &__slider:before {
   -webkit-transform: translateX(13px);
   -ms-transform: translateX(13px);
   transform: translateX(13px);
   -moz-transform: translateX(13px);
   -o-transform: translateX(13px);
}
 /* Rounded sliders */
 &__slider.round {
   border-radius: 34px;
 }
 
 &__slider.round:before {
   border-radius: 50%;
 }
 }
 

 

 
 
 

 

